body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#loader-content {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
}

#loader-content span {
    opacity: 0;
    animation: fade-in 0.5s forwards;
}

#loader-content span:nth-child(1) {
    animation-delay: 0s;
}

#loader-content span:nth-child(2) {
    animation-delay: 0.1s;
}

#loader-content span:nth-child(3) {
    animation-delay: 0.2s;
}

#loader-content span:nth-child(4) {
    animation-delay: 0.3s;
}

#loader-content span:nth-child(5) {
    animation-delay: 0.4s;
}

#loader-content span:nth-child(6) {
    animation-delay: 0.5s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header nav a:hover {
    color: #ff9900;
}

section {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #4CAF50;
}

a {
    color: #4CAF50;
}

a:hover {
    color: #3e8e41;
}

footer {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}

footer p {
    margin-bottom: 0;
}
